In [12]:
import pandas as pd
import numpy as np
import os
import codecs
import glob
from sklearn.utils import shuffle
import nltk
from nltk.corpus import movie_reviews
from sklearn.model_selection import train_test_split

In [86]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [112]:
from nltk.corpus import sentiwordnet as swn
import nltk
import text_normalizer
from afinn import Afinn
import matplotlib.pyplot as plt

In [487]:
from nltk import word_tokenize
import re
#https://stackabuse.com/removing-stop-words-from-strings-in-python/
#stopword
import sklearn

In [503]:
plt.style.use('seaborn-darkgrid')

# 4.1.1

In [480]:
student_1=pd.read_csv(('/Users/hernando/Desktop/NLP/NLP_tech_module1/vaccination_stance_annotations.csv'), sep=',')

In [481]:
student_2=pd.read_csv(('/Users/hernando/Desktop/NLP/NLP_tech_module1/student2.csv'), sep=',')

In [485]:
student1_result=[i for i in student_1['stance']]
student2_result=[i for i in student_2['stance']]

In [494]:
kappa=sklearn.metrics.cohen_kappa_score(student1_result,student2_result)
kappa

0.22248803827751196

In [492]:
def confuse(predictions,y_test,n):
    confuse=np.zeros((n,n))
    k=z=g=h=f=j=y=q=o=0
    for i in range(int(len(predictions))):
        if y_test[i]=='F':
            if predictions[i]=='F':
                k+=1
            elif predictions[i]=='N':
                z+=1
            else:
                g+=1

        elif y_test[i]=='N':
            if predictions[i]=='F':
                h+=1
            elif predictions[i]=='N':
                f+=1
            else:
                j+=1
        else:
            if predictions[i]=='F':
                y+=1
            elif predictions[i]=='N':
                q+=1
            else:
                o+=1
                
        
    confuse[0,0]=k
    confuse[0,1]=z
    confuse[0,2]=g
    confuse[1,0]=h
    confuse[1,1]=f
    confuse[1,2]=j
    confuse[2,0]=y
    confuse[2,1]=q
    confuse[2,2]=o
    return confuse

In [493]:
confuse(student1_result,student2_result,3)

array([[5., 2., 4.],
       [1., 3., 3.],
       [2., 1., 4.]])

# 4.1.2

In [5]:
df = pd.DataFrame(columns = ['Number','Attitute','Content','Score'])

In [6]:
df['Number']=np.arange(0,2000,1)
df.loc[np.arange(0,1000,1),'Attitute']=0
df.loc[np.arange(1000,2000,1),'Attitute']=1

In [7]:

os.getcwd()
os.chdir('/Users/hernando/Desktop/NLP/NLP_tech_module1/SentimentExperiment/review_polarity_data/neg')

def txtcombine(df):
    
    files = glob.glob('*.txt')
    z=0
    for filename in files:
        kkk=open(filename,'r')
        url=kkk.read().replace('\n','') 
        df.loc[z, 'Content'] = url
        kkk.close()
        z=z+1

In [8]:
txtcombine(df)

In [9]:
os.getcwd()
os.chdir('/Users/hernando/Desktop/NLP/NLP_tech_module1/SentimentExperiment/review_polarity_data/pos')

def txtcombine_2(df):
    
    files = glob.glob('*.txt')
    z=1000
    for filename in files:
        kkk=open(filename,'r')
        url=kkk.read().replace('\n','') 
        df.loc[z, 'Content'] = url
        kkk.close()
        z=z+1

In [10]:
txtcombine_2(df)

In [11]:
df

,Number,Attitute,Content,Score
0,0,0,bad . bad . bad . that one word seems to prett...,NaN
1,1,0,isn't it the ultimate sign of a movie's cinema...,NaN
2,2,0,""" gordy "" is not a movie , it is a 90-minute-...",NaN
3,3,0,disconnect the phone line . don't accept the c...,NaN
4,4,0,when robert forster found himself famous again...,NaN
5,5,0,this is my first review that i post to this ne...,NaN
6,6,0,""" lake placid "" marks yet another entry in th...",NaN
7,7,0,the main problem with martin lawrence's pet pr...,NaN
8,8,0,""" with all that education , you should know w...",NaN
9,9,0,jet li busted onto the american action movie s...,NaN
10,10,0,starring shawnee smith ; donovan leitch ; rick...,NaN
11,11,0,"in 1970s , many european intellectuals , espec...",NaN
12,12,0,the army comedy genre has never turned out a t...,NaN
13,13,0,and just when you thought joblo was getting a ...,NaN
14,14,0,talk about beating a dead horse ! when home al...,NaN
15,15,0,"capsule : godawful "" comedy "" that's amazingly...",NaN
16,16,0,"in our time . in our modern world , where the ...",NaN
17,17,0,"about an hour or so into "" the jackal , "" a ch...",NaN
18,18,0,i'm not sure who the genius is who came up wit...,NaN
19,19,0,"1989's "" major league "" was a delightful surpr...",NaN
20,20,0,"late in down to you , the lead female characte...",NaN
21,21,0,"capsule : annoyingly unentertaining , obvious ...",NaN
22,22,0,warner brothers has scored another marketing c...,NaN
23,23,0,"the tagline on random hearts reads "" in a perf...",NaN
24,24,0,walken stars as a mobster who is kidnapped and...,NaN
25,25,0,"post-chasing amy , a slew of love-triangle mov...",NaN
26,26,0,underwater science fiction stays submerged sph...,NaN
27,27,0,""" the animal "" is a marginally inspired comed...",NaN
28,28,0,"the general's daughter is a heartless , absurd...",NaN
29,29,0,brian de palma's snake eyes stars nicolas cage...,NaN
...,...,...,...,...
1970,1970,1,"today , war became a reality to me after seein...",NaN
1971,1971,1,mickey mouse had better watch his back -- ther...,NaN
1972,1972,1,"scarface , a remake of the 1932 film of the sa...",NaN
1973,1973,1,""" six days , seven nights "" is a summer movie...",NaN
1974,1974,1,the premise of the new teen-targeted horror fi...,NaN
1975,1975,1,">from the commercials , this looks like a mild...",NaN
1976,1976,1,i am starting to write this review before goin...,NaN
1977,1977,1,losing a job is not an all too uncommon thing ...,NaN
1978,1978,1,"jake kasdan , son of one of the best screenwri...",NaN
1979,1979,1,melvin udall is a heartless man . he spends hi...,NaN
1980,1980,1,in roger michell's romantic comedy notting hil...,NaN
1981,1981,1,a group of high school kids mix up with a grou...,NaN
1982,1982,1,kevin smith is like a big kid . his humor is t...,NaN
1983,1983,1,"what a great film . what a stunning , touching...",NaN
1984,1984,1,if there's one thing in common about all of ho...,NaN
1985,1985,1,i saw simon birch in a basically sold out thea...,NaN
1986,1986,1,gothic murder-mystery yarns are not a new conc...,NaN
1987,1987,1,with more and more television shows having gay...,NaN
1988,1988,1,capsule : the best place to start if you're a ...,NaN
1989,1989,1,"this summer , one of the most racially charged...",NaN
1990,1990,1,satirical films usually fall into one of two c...,NaN
1991,1991,1,"i know that "" funnest "" isn't a word . "" fun ...",NaN
1992,1992,1,curdled is a deliciously dark and witty black ...,NaN
1993,1993,1,"as fairy tales go , cinderella has to be one o...",NaN
1994,1994,1,in wonder boys michael douglas plays an aged w...,NaN
1995,1995,1,one of the funniest carry on movies and the th...,NaN
1996,1996,1,"i remember making a pact , right after `patch ...",NaN
1997,1997,1,barely scrapping by playing at a nyc piano bar...,NaN
1998,1998,1,if the current trends of hollywood filmmaking ...,NaN
1999,1999,1,capsule : the director of cure brings a weird ...,NaN

In [519]:
X_train, X_test, y_train, y_test = train_test_split(df.Content.values, df.Attitute.values,
                                                    stratify=df.Attitute.values, test_size=0.2,
                                                    random_state=42)

# Loading

In [23]:
lexicon=pd.read_csv('/Users/hernando/Desktop/NLP/NLP_tech_module1/SentimentExperiment/SentiLexiconFromSentiWordNet.txt',sep='\t')

In [24]:
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('#','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('0','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('1','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('2','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('3','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('4','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('5','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('6','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('7','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('8','')
lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace('9','')
# lexicon['SynsetTerms']=lexicon['SynsetTerms'].str.replace(' ',',')

In [25]:
for i in range(29095):
    str = lexicon['SynsetTerms'][i]
    lexicon['SynsetTerms'][i] = str.split()

/Users/hernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 4.1.2

In [13]:
df_train=df_train.reset_index()
df_test=df_test.reset_index()

In [586]:
# idea from https://stackoverflow.com/a/47091490
def decontracted(phrase):
    # specific
    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase


def text_split_1(df):
    df_1=decontracted(df)
    string_list=['.',',','?',')','"','--','(',':',';','%','>','<', '^','&','/','*','&','%','$','#','@','!','~']
    list_3=nltk.word_tokenize(df_1)
    for i in string_list:
        while i in list_3:
            list_3.remove(i)
#     tokens_without_sw = [word for word in list_3 if not word in stopwords.words()]
#     list_final=nltk.pos_tag(tokens_without_sw)
    return list_3

In [598]:
def score(df,lexicon):
    outcome=np.zeros((len(df)))
    for i in range(len(df)):
        print(i)
        begin=text_split_1(df[i])
        score=0
        positive=negative=0
        count=0
        for h in begin:
            for k,u in enumerate(lexicon['SynsetTerms']):
                if h in u:
                    score=score+lexicon['PosScore'][k]-lexicon['NegScore'][k]
                    count+=1
        score= score/count
        if score>0:
            outcome[i]=1
        else:
            outcome[i]=0            
    return outcome

In [599]:
outcome_1=score(X_test,lexicon)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399

In [623]:
f1(outcome_1,y_test)

(0.6901669758812615, 0.5825)

# 4.1.3

In [294]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [354]:
#code from this course


def create_vectorizer_and_classifier(reviews, labels):
    '''
    This function creates a vectorizer and logistic regression classifer with bag-of-word features
    
    :param reviews: the review texts (scenario sentiment classification on reviews)
    :param labels: the gold labels for the texts
    :type reviews: list of strings (each element is the text of a review)
    :type labels: list of strings (each element provides the gold label for the corresponding review)
    
    :returns: the vectorizer that provides the mapping from tokens to a vector and a trained classifier
    '''
    
    vectorizer = CountVectorizer(min_df=1,tokenizer=word_tokenize)
    training_vector = vectorizer.fit_transform(reviews)
    myclassifier = LogisticRegression()
    myclassifier.fit(training_vector, labels)
    
    return vectorizer, myclassifier
def classify_data(evaluation_reviews,vectorizer, sentiment_classifier):
    '''
    This function takes a list of strings and labels them with a classifier
    
    :param evaluation_reviews: the reviews to be used for evaluation
    :param vectorizer: the vectorizer to turn text in bag-of-word vector representations
    :param sentiment_classifier: a trained classifier
    :type evaluation_reviews: list of strings
    :type vectorizer: CountVectorizer
    :type classifier: LogisticRegression() (can be another type of classifier as well)
    
    :returns: a list of predicted labels
    '''

    evaluation_vector = vectorizer.transform(evaluation_reviews)
    predictions = sentiment_classifier.predict(evaluation_vector)

    return predictions

In [355]:
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

In [356]:
X_train, X_test, y_train, y_test = train_test_split(df.Content.values, df.Attitute.values,
                                                    stratify=df.Attitute.values, test_size=0.2,
                                                    random_state=42)

In [357]:
vectorizer, myclassifier=create_vectorizer_and_classifier(X_train, y_train)
predictions=classify_data(X_test,vectorizer, myclassifier)

# accuracy and F1 score

In [627]:
def f1(predictions,y_test):
    confuse=np.zeros((2,2))
    k=z=g=h=0
    for i in range(int(len(predictions))):
        if y_test[i]==0:
            if predictions[i]==0:
                k+=1
            else:
                z+=1

        else:
            if predictions[i]==0:
                g+=1
            else:
                h+=1
        
    confuse[0,0]=k
    confuse[0,1]=z
    confuse[1,0]=g
    confuse[1,1]=h
    
    accuracy= (k+h)/(k+z+g+h)
    precision=h/(z+h)
    recall=h/(g+h)
    f1_1=2*precision*recall/(recall+precision)
    print('accuracy, f1:',accuracy,f1_1)
    return f1_1,accuracy

lexicon

In [632]:
f1_lexicon,accuracy_lexicon=f1(outcome_1,y_test)

accuracy, f1: 0.5825 0.6901669758812615

machine learning

In [633]:
f1_machine,accuracy_machine=f1(predictions,y_test)

accuracy, f1: 0.81 0.8090452261306532

# Accuracy test

In [631]:
from statsmodels.stats.proportion import proportions_ztest

In [648]:
zscore, pval = proportions_ztest([accuracy_lexicon*400, accuracy_machine*400],[400, 400], alternative='two-sided')

In [649]:
pval

2.631965209123369e-12

In [3]:
from scipy import stats
scipy.stats.binom_test(0.81, n=400, p=0.5825)

1.8305935501405528e-152